@{
    ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome SK to your first CICD project</h1>
	    <p>Learn about <a href="https://github.com/skhumba71/SKCICD-github">sample apps in my Github</a>.</p>
	    </div>


